<h1>Hello {{ email.toName }}! Confirme ton adresse mail!</h1>

<p>
    Confirme ton adresse mail pour valider ton inscription sur le site communautaire SnowTricks en cliquant sur ce lien : <br><br>
    <a href="{{ absolute_url(path('verify_user')) }}">Confirmer mon email</a>.
    Ce lien a une durée de vie et expire {{ expiration_date|date(F jS) }}.
</p>
