body {
    font-family: "Century Gothic";
}

.hidden-sm {
    display: none;
}

.homepage-screen {
    position: relative;
    width: 100%;
    background: linear-gradient(50deg, #C8C6CC, #EDB51A);
}

.homepage-img {
    height: 83vh;
    overflow: hidden;
}

.card-body a {
    text-decoration: none;
}

.homepage-img-img {
    position: fixed;
    top: 10vh;
    width: 100%;
    opacity: 0.2;
}

.homepage-text-img {
    z-index: 2;
}

.homepage-bloc-text {
    position: absolute;
}

.position-text-300 {
    top: 40vh;
    height: 20vh;
}

.position-trick {
    top: 2vh;
    left: 3vw;
    right: 3vw;
}

.position-text-50 {
    top: 10px;
    right: 100px;
}

.inside {
    position: relative;
}

.positive {
    top: 5vh;
    right: 5vw;
}

.negative {
    top: -50%;
}

.card-action {
    height: 38px;
}

.card-images-top {
    background: content-box;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
    border-radius: 5px;
}

.content-card-images {
    height: 170px;
    width: 95%;
}

nav {
    height: 10vh;
}

footer {
    height: 7vh;
}

.default-picture {
    position: relative;
    width: 100%;
    background: linear-gradient(50deg, #8d8c90, #46496e);
    overflow: hidden;
}

.default-picture-picture {
    opacity: 0.4;
}

.register {
    min-height: 73vh;
}

.main-picture {
    width: 40vw;
    height: auto;
}

.no-pictures-text {
    bottom: 50px;
    left: 10px;
    right: 10px;
}

.register .form-control {
    min-width: 250px;
    margin: auto;
}

.detail-box-media {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center top;
    margin-bottom: 15px;
}

.detail-box {
    width: 300px;
    height: 270px;
}

.form-label-extended {
    width: 400px;
}

.videos.list-videos {
    list-style: none;
    width: 50%;
}

.h-500 {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center top;
}

.w-sm-25 {
    width: 25%!important;
}

@media screen and (width <= 991px) {
    .hidden-xs {
        display: none;
    }

    .hidden-sm {
        display: inline;
    }

    .homepage-screen {
        position: static;
    }

    .homepage-text-img {
        top: 390px;
        font-size: 1.5rem;
    }

    .homepage-img-img {
        width: auto;
        top: 5vh;
    }

    .position-text-50 {
        right: 10vw;
        left: 10vw;
        top: 30vh;
    }

    .xs-vw-90 .h3 {
        font-size: 1.3rem;
    }

    .xs-vw-90 {
        width: 90vw;
    }

    .login {
        height: 87vh;
    }

    .registration {
        height: 86vh;
    }

    nav {
        height: auto;
    }

    .register {
        width: 90vw;
        left: 5vw;
    }

    .position-trick {
        top: 15vh;
    }

    .form-label-extended {
        width: 100%;
    }

    .main-picture {
        width: 90vw;
    }

    .no-pictures-text {
        bottom: 20px;
    }

    .w-sm-25 {
        width: 50%!important;
    }

    .videos.list-videos {
        width: 100%;
    }
}

@media screen and (width <= 991px) and (width >= 767px) {
    .register {
        min-height: 79vh;
    }

    .main-picture {
        width: 80vw;
    }
}