body {
    font-family: "Century Gothic";
}

.hidden-sm {
    display: none;
}

.homepage_screen {
    position: relative;
    width: 100%;
    background: linear-gradient(50deg, #C8C6CC, #EDB51A);
}

.homepage_img {
    /*position: fixed;*/
    height: 83vh;
    overflow: hidden;
}

.card-body a {
    text-decoration: none;
}

.homepage_img-img {
    position: fixed;
    top: 10vh;
    width: 100%;
    opacity: 0.2;
}

.homepage_text_img {
    z-index: 2;
}

.homepage_bloc_text {
    position: absolute;
}

.position_text_300 {
    top: 40vh;
    height: 20vh;
}

.position_text_50 {
    top: 10px;
    right: 100px;
}

.inside {
    position: relative;
}

.positive {
    top: 40px;
}

.negative {
    top: -40px;
}

.card-action {
    height: 38px;
}

.card-images-top {
    background: content-box;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
    border-radius: 5px;
}

.content-card-images {
    height: 170px;
    width: 95%;
}

.modal-dialog, .from-right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 250px;
    height: 100vh;
    transform: translateX(250px);
}

.from-right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.from-right.fade .modal-dialog {
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

nav {
    height: 10vh;
}

footer {
    height: 7vh;
}

.login {
    height: 83vh;
}

.default_picture {
    position: relative;
    width: 100%;
    background: linear-gradient(50deg, #8d8c90, #46496e);
    overflow: hidden;
}

.default_picture-picture {
    opacity: 0.4;
}

.register {
    width: 40vw;
}

@media screen and (width <= 991px) {
    .hidden-xs {
        display: none;
    }

    .hidden-sm {
        display: inline;
    }

    .homepage_screen {
        position: static;
    }

    .homepage_text_img {
        top: 390px;
        font-size: 1.5rem;
    }

    .homepage_img-img {
        width: auto;
        top: 7vh;
    }

    .position_text_50 {
        right: 10vw;
        left: 10vw;
        top: 30vh;
    }

    .xs-vw-90 .h3 {
        font-size: 1.3rem;
    }

    .xs-vw-90 {
        width: 90vw;
    }

    .login {
        height: 87vh;
    }

    .registration {
        height: 86vh;
    }

    nav {
        height: auto;
    }

    .register {
        width: 90vw;
        left: 5vw;
    }
}
