{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <div class="homepage_screen">
        <div class="homepage_img">
            <img src="img/freestyle.jpeg" alt="freestyle" class="homepage_img-img"/>
        </div>
        <div class="homepage_text_img text-center text-primary m-auto w-100">
            <div class="container">
                <div class="row">
                    <div class="col-9 offset-1 col-md-6 offset-md-5">
                        <h1 class="fs-4 text-start fw-bold"><span class="fs-1 fw-bolder">S</span>now<span class="fs-2 fw-bolder">T</span>ricks : la référence du snow...</h1>
                        <h2 class="fs-5 text-end fw-bold">...et la plus grande communauté francophone</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid text-end text-primary arrow-top me-4">
                <a href="index.php#trick-container"><i class="fa-solid fa-arrow-down fs-2"></i></a>
        </div>
    </div>
    <section id="trick-container" class="pt-5">
        <h3 class="text-center text-primary">Viens voir ici l'ensemble de nos tricks !</h3>
        <div class="container-fluid pt-5">
            {% for trick in tricks %}
                {% if loop.index % 5 == 1 %}
                    <div class="row gy-4 pb-2">
                        <div class="col-12 col-sm-6 offset-sm-3 col-lg-2 offset-lg-1">
                    {% else %}
                        <div class="col-12 col-sm-6 offset-sm-3 col-lg-2 offset-lg-0">
                {% endif %}
                    {% include 'trick/_trick.html.twig' %}
                        </div>
                {% if loop.index % 5 == 0 %}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="row mt-5">
                <div class="col-6 offset-3 text-center">
                    <a href="#" class="btn btn-primary">Voir plus de tricks</a>
                </div>
            </div>
            <div class="row">
                <div class="col-1 offset-11 container-fluid text-end text-primary arrow-top me-4">
                    <a href="index.php#trick-container"><i class="fa-solid fa-arrow-up fs-2"></i></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
